extends ../layout

block content
    h1= title
    form(name="addproduto",method="post",action="/produtos/add")
        // Text input
        input#descricao.form-control.input-md(name='descricao', type='text', placeholder='Ex.: BlueBerry ; Carvão de coco 1k', required='')
        br
        // Text input
        input#precocusto.form-control.input-md(name='precocusto', type='text', placeholder='Ex.: 11.99', required='')
        br
        // Text input
        input#precovenda.form-control.input-md(name='precovenda', type='text', placeholder='EX.: 99.99', required='')
        br
        // Select Basic
        select#tipo.form-control(name='tipo')
             each tipo, i in tipos.rows
              option(value="#{tipo.id}") #{tipo.descricao}
        br
        // Select Basic
        select#marca.form-control(name='marca')
             each marca, i in marcas.rows
              option(value="#{marca.id}") #{marca.nome}
        br
        // Button
        button.btn.btn-primary(type='submit') Cadastrar