extends ../layout

block content
    h1.
        Lista de Individuos Cadastrados
    hr
    br
    div(class="container")
        table(class='table')
            thead
                tr
                th ID
                td Descrição             
                td PreçoCusto    
                td PreçoVenda  
                td Tipo
                td Marca
                td Ação  
            tbody
            each produto, i in produtos.rows
                tr
                    td  #{produto.id}
                    td  #{produto.descricao}
                    td  #{produto.precoCusto}
                    td  #{produto.precoVenda}
                    td  #{produto.tipo}
                    td  #{produto.marca}
                    td 
                        a(href="/produtos/editar/#{produto.id}")
                            button(type='button', class='btn btn-warning btn-sm')
                                span(class='glyphicon glyphicon-edit') Editar
                         space
                        a(href="/produtos/delete/#{produto.id}")
                            button(type='button', class='btn btn-danger btn-sm')
                                span(class='glyphicon glyphicon-remove' aria-hidden="true") Deletar
               
    a(href="/produtos") Voltar